@page "/orders/edit/{Id}"
@using HqSoftSale.Products
@using HqSoftSale.Orders
@using Volo.Abp.Application.Dtos
@using Volo.Abp.AspNetCore.Components.Web
@using System.Net.Http.Json
@using Volo.Abp.MultiTenancy
@using HqSoftSale.Localization
@using Microsoft.Extensions.Localization
@inject IProductAppService ProductAppService
@inject HttpClient httpClient
@inject IOrderAppService OrderAppService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<HqSoftSaleResource> L
@inject AbpBlazorMessageLocalizerHelper<HqSoftSaleResource> LH
@inject AuthenticationStateProvider AuthenticationStateProvider
@inherits AbpCrudPageBase<IProductAppService, ProductDto, Guid, PagedAndSortedResultRequestDto, CreateUpdateProductDto>
 
<Row Spacing="2" xs="1">
    <Span />
    <Column>
    </Column>
    <Column>
    </Column>
    <Column>
    </Column>
    <Column Style="padding:10px 10px 10px 120px;">
        <Button Style="border-style: double;border-color: #c7c7c7;">
            <Icon Name="IconName.Print" />
        </Button>
        <Button Style="border-style: double;border-color: #c7c7c7;">
            <Icon Name="IconName.ShoppingCart" />
        </Button>
        <Button Style="border-style: double;border-color: #c7c7c7;">
            <Icon Name="IconName.List" Clicked="@((a)=>HideFilterBy())" />
        </Button>
        <Button Style="border-style: double;border-color: #c7c7c7;">
            <Icon Name="IconName.LocationArrow" />
        </Button>
        <Button Style="color: #fff; background-color: #a46363;" Clicked="(()=>GoToOrderPage())">
            <Icon Name="IconName.Undo" /> @L["Back"]
        </Button>
        <Button Color="Color.Secondary" Clicked="((e)=>DeleteEntityAsync(EditingEntityId))">
            <Icon Name="IconName.Delete" /> @L["Delete"]
        </Button>
        <Button Color="Color.Primary" Clicked="UpdateEntityAsync">
            <Icon Name="IconName.Save" IconStyle="IconStyle.Regular" /> @L["Save"]
        </Button>
    </Column>
</Row>
<Row>
    <Column style="@($"display:{(_hideItem ? "none" : "block")}; max-width:15%")">

        <HqSoftSale.Blazor.Components.AssignedTo />
    </Column>
    <Column style="@($"width:{(_hideItem ? "100%" : "75%")};")">
        <Card>
            <CardBody>
                @*Filter*@
                <Validations @ref="@EditValidationsRef" Model="@EditingEntity" ValidateOnLoad="false">
                    <Row>
                        <Column ColumnSize="ColumnSize.Is4">
                            <Text>Order Number</Text>
                            <Field>
                                <TextEdit Placeholder="" @bind-Text="@EditingEntity.OrderNumber" />
                            </Field>
                        </Column>
                    </Row>

                    <Row Style="padding-bottom:15px">
                        <Column ColumnSize="ColumnSize.Is4">
                            <Text>Status</Text>
                            <Select TValue="OrderStatus" @bind-SelectedValue="@EditingEntity.OrderStatus">
                                @foreach (var order in Enum.GetValues(typeof(OrderStatus)))
                                {
                                    <SelectItem Value="@((OrderStatus)order)">
                                        @L[$"Enum:OrderStatus.{order}"]
                                    </SelectItem>
                                }
                            </Select>
                        </Column>
                    </Row>


                    <Row>
                       
                        <Column ColumnSize="ColumnSize.Is4">
                            <Text>Customer </Text>
                            <Field>
                                <TextEdit Placeholder="" @bind-Text="@EditingEntity.Customer"/>
                            </Field>
                        </Column>
                    </Row>
                    <Row>
                        <Column>
                            <Tabs SelectedTab="order">
                                <Items>
                                    <Tab Name="order">Order/InvoiceInformation</Tab>
                                </Items>
                                <Content>
                                    <TabPanel Name="order">
                                        @*Filter*@
                                        @*Row 1*@
                                        <Row Style="padding-bottom:15px">
                                            <Column ColumnSize="ColumnSize.Is4">
                                                <Text>Order Date</Text>
                                                <Field>
                                                    <DateEdit TValue="DateTime" @bind-Date="EditingEntity.OrderDate" />
                                                </Field>
                                            </Column>
                                        </Row>
                                    

                                        @*Content*@

                                        <DataGrid TItem="ProductDto"
                                                  Data="@ProductList"
                                                  SortMode="DataGridSortMode.Single"
                                                  SelectionMode="DataGridSelectionMode.Multiple"
                                                    Striped
                                                    Sortable
                                                    ShowPager
                                                    Responsive>
                                            <DataGridColumns>
                                                <DataGridMultiSelectColumn TItem="ProductDto" Width="30px"></DataGridMultiSelectColumn>
                                                <DataGridCommandColumn />
                                                <DataGridColumn Field="@nameof(ProductDto.ProductID)" Caption="Product ID" />
                                                <DataGridColumn Field="@nameof(ProductDto.ProductName)" Caption="Product Name" />
                                                <DataGridColumn Field="@nameof(ProductDto.Type)" Caption="Type" />
                                                <DataGridColumn Field="@nameof(ProductDto.UnitType)" Caption="UnitType"/>
                                                <DataGridColumn Field="@nameof(ProductDto.Quanity)" Caption="Quanity" />
                                                <DataGridColumn Field="@nameof(ProductDto.Price)" Caption="Price" />
                                                <DataGridColumn Field="@nameof(ProductDto.ExtenedAmount)" Caption="ExtenedAmount" />

                                            </DataGridColumns>
                                            <PageButtonTemplate>
                                                <Span TextColor="TextColor.Success">
                                                    @context.PageNumber
                                                </Span>
                                            </PageButtonTemplate>
                                            <PageSizesTemplate>
                                                <Select TextColor="TextColor.Success" @bind-SelectedValue="@context.CurrentPageSize" Size="Size.Small">
                                                    @foreach (var curPageSize in context.PageSizes)
                                                    {
                                                        <SelectItem Value="@curPageSize">@curPageSize</SelectItem>
                                                    }
                                                </Select>
                                            </PageSizesTemplate>
                                        </DataGrid>
                                    </TabPanel>
                                    <TabPanel Name="shipping">
                                        Content for profile.
                                    </TabPanel>
                                    <TabPanel Name="address">
                                        Content for messages.
                                    </TabPanel>
                                    <TabPanel Name="taxt">
                                        Content for messages.
                                    </TabPanel>
                                    <TabPanel Name="discount">
                                        Content for settings.
                                    </TabPanel>
                                </Content>
                            </Tabs>
                        </Column>
                    </Row>
                </Validations>
                <HqSoftSale.Blazor.Components.Chat.Comment/>
            </CardBody>
        </Card>
    </Column>
</Row>