@page "/orders/edit/{Id}"
@using Blazorise.Components
@using HqSoftSale.OrderDetails;
@using HqSoftSale.Products
@using HqSoftSale.Orders
@using Volo.Abp.Application.Dtos
@using Volo.Abp.AspNetCore.Components.Web
@using System.Net.Http.Json
@using Volo.Abp.MultiTenancy
@using HqSoftSale.Localization
@using Microsoft.Extensions.Localization
@inject IProductAppService ProductAppService
@inject HttpClient httpClient
@inject IOrderAppService OrderAppService
@inject IOrderDetailAppService OrderDetailAppService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<HqSoftSaleResource> L
@inject AbpBlazorMessageLocalizerHelper<HqSoftSaleResource> LH
@inject AuthenticationStateProvider AuthenticationStateProvider
@inherits AbpCrudPageBase<IProductAppService, ProductDto, Guid, PagedAndSortedResultRequestDto, CreateUpdateProductDto>
 
<Row Spacing="2" xs="1">
    <Span />
    <Column>
    </Column>
    <Column>
    </Column>
    <Column>
    </Column>
    <Column Style="padding:10px 10px 10px 120px;">
        <Button Style="border-style: double;border-color: #c7c7c7;">
            <Icon Name="IconName.Print" />
        </Button>
        <Button Style="border-style: double;border-color: #c7c7c7;">
            <Icon Name="IconName.ShoppingCart" />
        </Button>
        <Button Style="border-style: double;border-color: #c7c7c7;">
            <Icon Name="IconName.List" Clicked="@((a)=>HideFilterBy())" />
        </Button>
        <Button Style="border-style: double;border-color: #c7c7c7;">
            <Icon Name="IconName.LocationArrow" />
        </Button>
        <Button Style="color: #fff; background-color: #a46363;" Clicked="(()=>GoToOrderPage())">
            <Icon Name="IconName.Undo" /> @L["Back"]
        </Button>
        <Button Color="Color.Secondary" Clicked="((e)=>DeleteEntityAsync(EditingEntityId))">
            <Icon Name="IconName.Delete" /> @L["Delete"]
        </Button>
        <Button Color="Color.Primary" Clicked="UpdateEntityAsync">
            <Icon Name="IconName.Save" IconStyle="IconStyle.Regular" /> @L["Save"]
        </Button>
    </Column>
</Row>
<Row>
    <Column style="@($"display:{(_hideItem ? "none" : "block")}; max-width:15%")">

        <HqSoftSale.Blazor.Components.AssignedTo />
    </Column>
    <Column style="@($"width:{(_hideItem ? "100%" : "75%")};")">
        <Card>
            <CardBody>
                @*Filter*@
                <Validations @ref="@EditValidationsRef" Model="@EditingEntity" ValidateOnLoad="false">
                    <Row>
                        <Column ColumnSize="ColumnSize.Is4">
                            <Text>Order Number</Text>
                            <Field>
                                <TextEdit Placeholder="" @bind-Text="@EditingEntity.OrderNumber" />
                            </Field>
                        </Column>
                    </Row>

                    <Row Style="padding-bottom:15px">
                        <Column ColumnSize="ColumnSize.Is4">
                            <Text>Status</Text>
                            <Select TValue="OrderStatus" @bind-SelectedValue="@EditingEntity.OrderStatus">
                                @foreach (var order in Enum.GetValues(typeof(OrderStatus)))
                                {
                                    <SelectItem Value="@((OrderStatus)order)">
                                        @L[$"Enum:OrderStatus.{order}"]
                                    </SelectItem>
                                }
                            </Select>
                        </Column>
                    </Row>


                    <Row>
                       
                        <Column ColumnSize="ColumnSize.Is4">
                            <Text>Customer </Text>
                            <Field>
                                <TextEdit Placeholder="" @bind-Text="@EditingEntity.Customer"/>
                            </Field>
                        </Column>
                    </Row>
                    <Row>
                        <Column>
                            <Tabs SelectedTab="order">
                                <Items>
                                    <Tab Name="order">Order/InvoiceInformation</Tab>
                                </Items>
                                <Content>
                                    <TabPanel Name="order">
                                        @*Filter*@
                                        @*Row 1*@
                                        <Row Style="padding-bottom:15px">
                                            <Column ColumnSize="ColumnSize.Is4">
                                                <Text>Order Date</Text>
                                                <Field>
                                                    <DateEdit TValue="DateTime" @bind-Date="EditingEntity.OrderDate" />
                                                </Field>
                                            </Column>
                                        </Row>

                                        <DataGrid TItem="OrderDetailDto"
                                                  Data="@OrderDetailList"
                                                  SortMode="DataGridSortMode.Single"
                                                  SelectionMode="DataGridSelectionMode.Multiple"
                                                    Striped
                                                    Sortable
                                                    ShowPager
                                                    Responsive
                                                  SelectedRows="@selectedRows">
                                            <DataGridColumns>

                                                <DataGridCommandColumn />

                                                <DataGridMultiSelectColumn TItem="OrderDetailDto" Width="30px">
                                                    <DisplayTemplate>
                                                        <input type="checkbox" @bind="context.IsSelected" />
                                                    </DisplayTemplate>
                                                </DataGridMultiSelectColumn>
                                                <DataGridColumn Field="@nameof(OrderDetailDto.ProductID)" Caption="@L["Product id"]" Context="order">
                                                    <DisplayTemplate>
                                                        <Link Underline="Underline.Always">@order.ProductID</Link>
                                                    </DisplayTemplate>
                                                </DataGridColumn>
                                                <DataGridColumn Field="@nameof(OrderDetailDto.ProductName)" Caption="Product Name" />
                                                <DataGridColumn Field="@nameof(OrderDetailDto.UnitType)" Caption="UnitType" Context="order" />
                                                <DataGridColumn Field="@nameof(OrderDetailDto.Type)" Caption="WarehouseType" Context="order" />

                                                <DataGridColumn Field="@nameof(OrderDetailDto.Quantity)" Caption="Quantity" />
                                                <DataGridColumn Field="@nameof(OrderDetailDto.Price)" Caption="Product Price" />
                                                <DataGridColumn Field="@nameof(OrderDetailDto.ExAmount)" Caption="ExtenedAmount" />

                                                <DataGridColumn Field="@nameof(OrderDetailDto.Quantity)" Caption="Quantity">
                                                    <EditTemplate>
                                                        <NumericPicker TValue="int" @bind-Value="@context.Item.Quantity"></NumericPicker>
                                                    </EditTemplate>
                                                </DataGridColumn>
                                                <DataGridColumn Field="@nameof(OrderDetailDto.Price)" Caption="Price">
                                                    <EditTemplate>
                                                        <NumericPicker TValue="double" @bind-Value="@context.Item.Price"></NumericPicker>
                                                    </EditTemplate>
                                                </DataGridColumn>
                                                <DataGridColumn Field="@nameof(OrderDetailDto.ExAmount)" Caption="ExtenedAmount">
                                                    <EditTemplate>
                                                        <NumericPicker TValue="double" @bind-Value="@context.Item.ExAmount"></NumericPicker>
                                                    </EditTemplate>
                                                </DataGridColumn>

                                            </DataGridColumns>
                                            <PageButtonTemplate>
                                                <Span TextColor="TextColor.Success">
                                                    @context.PageNumber
                                                </Span>
                                            </PageButtonTemplate>
                                            <PageSizesTemplate>
                                                <Select TextColor="TextColor.Success" @bind-SelectedValue="@context.CurrentPageSize" Size="Size.Small">
                                                    @foreach (var curPageSize in context.PageSizes)
                                                    {
                                                        <SelectItem Value="@curPageSize">@curPageSize</SelectItem>
                                                    }
                                                </Select>
                                            </PageSizesTemplate>
                                        </DataGrid>


                                           
                                        
                                    </TabPanel>
                                    <TabPanel Name="shipping">
                                        Content for profile.
                                    </TabPanel>
                                    <TabPanel Name="address">
                                        Content for messages.
                                    </TabPanel>
                                    <TabPanel Name="taxt">
                                        Content for messages.
                                    </TabPanel>
                                    <TabPanel Name="discount">
                                        Content for settings.
                                    </TabPanel>
                                </Content>
                            </Tabs>
                        </Column>
                    </Row>
                </Validations>
                <HqSoftSale.Blazor.Components.Chat.Comment/>
            </CardBody>
        </Card>
    </Column>
</Row>